# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "Release" ]
  pull_request:
    branches: [ "Release" ]

jobs:
  generate-version:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4
    - name: GitHub Idempotent
      id: idempotent
      uses: actions/checkout@v4

  build:
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x
        source-url: https://nuget.pkg.github.com/aiska/index.json
      env:
        NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}    
    - name: Restore dependencies
      run: dotnet restore
    - name: Build IdempotentApi
      run: dotnet build ./src/Aiska.IdempotentApi/Aiska.IdempotentApi.csproj --configuration Release --no-restore -o ./build/ /p:ContinuousIntegrationBuild=true
    - name: Build IdempotentApi.Hybrid
      run: dotnet build ./src/Aiska.IdempotentApi.Hybrid/Aiska.IdempotentApi.Hybrid.csproj --configuration Release --no-restore -o ./build/ /p:ContinuousIntegrationBuild=true
    - name: push nuget
      run: dotnet nuget push "./build/Aiska.IdempotentApi.1.0.6.nupkg"
