# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "Release" ]

permissions:
  contents: read # access to check out code and install dependencies
jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x
        source-url: https://nuget.pkg.github.com/aiska/index.json
      env:
        NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
    - name: Build IdempotentApi
      run: dotnet build ./src/Aiska.IdempotentApi/Aiska.IdempotentApi.csproj --configuration Release /p:ContinuousIntegrationBuild=true
    - name: Build IdempotentApi
      run: dotnet pack ./src/Aiska.IdempotentApi/Aiska.IdempotentApi.csproj --configuration Release
    - name: push nuget
      run: dotnet nuget push "./src/Aiska.IdempotentApi/bin/Release/Aiska.IdempotentApi.1.0.6.nupkg" -k ${{secrets.GITHUB_TOKEN}}
